* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonteWork);
}

.container_historiaHero {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.image_herohistoria_content {
    background-image: url(assets/judoHistory.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 110px;
    box-sizing: border-box;
}

.texto_historia_judo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--fonteWork);
    color: var(--branco-texto);
    margin: auto;
    padding: 2%;
    gap: 40px;
    max-width: 1200px;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.texto_historia_judo h1 {
    font-family: var(--fonteWork);
    color: var(--branco-texto);
    font-size: clamp(2rem, 5vw, 4rem);

}

.texto_paragrafo h4{
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 400;
}

.texto_paragrafo span {
    font-size: var(--h5);
    font-weight: 300;
    line-height: 1.1;
}

.paragrafos_historia_judo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 40px;
}

.texto_paragrafo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}