* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.background {
    background-color: grey;
    width: 100%;
    min-height: 100vh;
}

.fullContainerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}
